<!doctype html>
<html style="background-color: dimgrey;">
<head>
    <title>Car Price Predictor</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/css/style.css"> 
    <!-- {{ url_for('static', filename='./style.css')}} -->
</head>
<body>
      <div> 
        <p> {{pred}} </p>
        <form action="{{ url_for('home')}}" style="border: 0" >
            <button type="submit" class="btn btn-primary btn-block btn-small"> Return Home </button>
        </form>
        
      </div>
  </body>
</html>